@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito+Sans:wght@200;400&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  min-height: 460px;
  max-height: 460px;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
  margin: 0px;
  display: inherit;
  flex-direction: inherit;
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
}