* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
  max-width: fit-content;
}

.link:hover {
  cursor: pointer;
}

#folder-arrow {
  text-align: center;
  width: 6px;
  padding: 0px 4px 3px 0px;
}

.topnav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 6px 10px 6px 10px;
}

.topnav-container>#search-box {
  flex-grow: 3;
}

.topnav-container>#empty-container {
  flex-grow: 3;
  height: 24px;
}

.tree {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.clickable-icon:hover {
  cursor: pointer;
}

.caret {
  font-size: 12px;
}

#source-form {
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 6px;
}

#source-form>input {
  padding: 2px;
  margin: 0px 0px 2px 0px;
}

#source-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 6px;
  font-size: 16px;
}

#source-container>#source-name {
  flex-grow: 3;
}