:root {
  --primary-xanadu: #828E82;
  --secondary-laurel-green: #AAAE8E;
  --secondary-deep-space-sparkle: #3A606E;
  --secondary-steel-teal: #607B7D;
  --secondary-gainsboro: #E0E0E0;
  --semantic-negative: rgba(255, 73, 73, 0.7);
  --semantic-negative-border: rgba(255, 73, 73, 1);
  --semantic-positive: rgb(19, 206, 102, 0.7);
  --semantic-positive-border: rgb(19, 206, 102, 1);
  --semantic-warning: rgb(255, 204, 61, 0.7);
  --semantic-warning-border: rgb(255, 204, 61, 1);
  --semantic-text: #ffffff;
}
  
@media (prefers-color-scheme: light) {
  :root {
    --text: #1D1D1D;
    --text-soft: #4d4d4d;
    --divider: #9E9E9E;
    --background-variant: #E0E0E0;
    --background: #FAFAFA;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #FAFAFA;
    --text-soft: #cecece;
    --divider: #878787;
    --background-variant: #545454;
    --background: #1D1D1D;
  }
}

  
* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

#logo {
  height: 48px;
  width: 48px;
}

#logo-bar {
  height: 12vh;
  background: hsla(196, 31%, 33%, 1);
  background: linear-gradient(
    135deg, 
    var(--secondary-laurel-green), 
    var(--primary-xanadu), 
    var(--secondary-steel-teal), 
    var(--secondary-deep-space-sparkle));
  background: -moz-linear-gradient(
    135deg, 
    var(--secondary-laurel-green), 
    var(--primary-xanadu), 
    var(--secondary-steel-teal), 
    var(--secondary-deep-space-sparkle));
  background: -webkit-linear-gradient(
    135deg, 
    var(--secondary-laurel-green), 
    var(--primary-xanadu), 
    var(--secondary-steel-teal), 
    var(--secondary-deep-space-sparkle));
  color: var(--secondary-gainsboro);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 32px;
  font-family: 'Concert One', cursive;
  letter-spacing: 4px;
  gap: 4px;
}

.link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  max-width: fit-content;
  gap: 4px;
  color: var(--text-soft);
}

.link:hover {
  cursor: pointer;
  color: var(--secondary-laurel-green);
  opacity: 0.8; 
}

.topnav-container {
  display: flex;
  height: 32px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  background-color: var(--background-variant);
  padding: 6px 10px 6px 10px;
  border-bottom: 1px solid var(--divider);
}

.toolbar-icon {
  color: var(--text);
  position: relative;
  height: 26px;
  width: 26px;
  padding: 4px 0px 0px 6px;
}

.toolbar-icon:hover {
  cursor: pointer;
  color: var(--secondary-laurel-green);
}

.toolbar-icon span {
  display: none;
  height: 16px;
  font-size: 12px;
  background-color: var(--secondary-laurel-green);
  color: var(--text);
  border-radius: 4px;
  padding: 0px 4px 4px 4px;
  z-index: 2;
}

.toolbar-icon:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

.search-container {
  padding: 8px 4px 8px 4px;
}

#search-box {
  border-radius: 4px;
  height: 24px;
  width: 100%;
  background-color: var(--background-variant);
  border: 1px solid var(--divider);
  font-family: 'Nunito Sans', sans-serif;
}

#search-box:focus {
  outline: none;  
}

.tree {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 8px 0px 12px 0px;
}

.clickable-icon {
  margin: 0px 4px 0px 4px;
  color: var(--text-soft);
}

.clickable-icon:hover {
  cursor: pointer;
  color: var(--secondary-laurel-green);
  opacity: 0.8;
}

.non-clickable-icon {
  margin: 0px 4px 0px 0px;
  color: var(--text-soft);  
}

#source-form {
  margin: 6px;
  padding: 6px;
  border: 1px solid var(--divider);
  border-radius: 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 6px;
}

#semantic-banner {
  font-size: 10px;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  margin: 6px;
}

#submit-button {
  padding: 0px;
  font-size: 24px;
  align-self: flex-end;
  border: none;
  color: var(--text-soft);
  background-color: transparent;
}

#submit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  color: var(--secondary-laurel-green);
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--text);
    border: 1px solid var(--divider);
    background: var(--background-variant);
    transition: border .3s ease;
    &::placeholder {
        color: var(--text);
    }
    &:focus {
        outline: none;
        border-color: var(--primary-xanadu);
    }
}

.form-group {
  position: relative;
  display: flex;
  height: 24px;
  width: 100%;
  & > span,
  .form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > span {
    text-align: center;
    padding: 3px 10px;
    font-size: 12px;
    color: var(--text);
    background: var(--background-variant);
    border: 1px solid var(--divider);
    transition: background .3s ease, border .3s ease, color .3s ease;
  }
  &:focus-within {
    & > span {
      color: white;
      background: var(--secondary-laurel-green);
      border-color: var(--primary-xanadu);
    }
  }
}

#source-list {
  margin: 6px;
  border: 1px solid var(--divider);
  border-radius: 4px;
}

#source-list-title {
  padding: 4px 0px 0px 4px;
  color: var(--text);
}

#source-container {
  margin: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 6px;
  font-size: 14px;
  align-items: center;
}

#source-container>#source-name {
  flex-grow: 3;
  color: var(--text-soft);
}