* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.link {
  font-size: 16px;
  max-width: fit-content;
}

.link:hover {
  cursor: pointer;
}

.treenav-tools {
  font-size: 16px;
  max-width: fit-content;
}

.treenav-tools:hover {
  cursor: pointer;
}

.topnav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 6px 10px 6px 10px;
}

.topnav-container>#search-box {
  flex-grow: 3;
}

.tree {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.clickable-icon:hover {
  cursor: pointer;
}

.caret {
  font-size: 12px;
}