body {
  padding: 10px;
  font-family: sans-serif;
}

.source-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  width:25%;
}

button {
  width:25%;
}

.source-container {
  display: flex;
  flex-direction: row;
}

.source-name {
  width: 20%;
}

.button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}